:root {
	--main-color: white;
}

@font-face {
	font-family: Input;
	src: url("../fonts/Input/InputMono-Regular.ttf");
  }

@font-face {
	font-family: Input;
	src: url("../fonts/Input/InputMono-Black.ttf");
	font-weight: bold;
}

html, body {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0 auto;

	font-family: Input;
	
	background-color: black;
	/* color: var(--main-color); */

	/* cursor: url("../images/cursor.png"), auto; */
}

* {
	box-sizing: border-box;
}

.text {
	color: var(--main-color);
}

header {
	height: 10%;
	width: 60%;
	box-sizing: border-box;

	text-align: center;
	margin: 0 auto;
	padding-top: 25px;

}

.title {
	box-sizing: border-box;

	/* background-color: var(--main-color); */
	border: solid 5px var(--main-color);
	color: var(--main-color);

	margin: 0 auto;
	/* height: 90%; */
	padding: 10px 0 10px 0;

	font-weight: normal;
}

.console {
	position: relative;
	height: 88%;
	width: 60%;
	margin: 0 auto;
	box-sizing: border-box;

	/* background-color: magenta; */
	padding: 10px 0 10px 0;

	font-size: 10pt;
}

.history-wrap {
	box-sizing: border-box;
	
	position: relative;
	width: 100%;
	height: 95%;

	margin: 0 auto;
	margin-bottom: 10px;

	padding: 10px;
	padding-top: 14px;

	border-top: solid 10px black;
	/* border: solid 1px #1d1d1d; */
	/* background-color: #131313; */
	/* overflow: hidden; */
}

.history {
	width: 100%;
	height: 100%;

	overflow: hidden;
}

.prompt-wrap {
	width: 100%;
	height: 4%;

	box-sizing: border-box;

	margin: 0 auto;
	text-align: center;
	/* border: solid 1px var(--main-color); */
}

.prompt-wrap textarea {
	width: 100%;
	height: 100%;
	margin: 0 auto;

	padding-left: 10px;
	
	resize: none;

	text-align: left;
	line-height: 2.2em;

	color: var(--main-color);
	background-color: #1d1d1d;
	font-family: Input;
	font-size: 10pt;

	border: none;
}

/* tests */
.prompt-wrap textarea {

}


.tarot {
	text-align: center;
}

.prompt-start {
	font-weight: bold;
	font-size: 10pt;
}

u {
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}